


<%= form_for '/appointments' do |f| %>

  <p>
    Start Time:
    <%= f.datetime_select :start_time, :ampm => true, :start_year => 2011, :minute_step => 30, :order => [:month, :day, :year] %>
  </p>

  <p>
  End Time: 
    <%= f.datetime_select :end_time, :ampm => true, :start_year => 2011, :minute_step => 30, :order => [:month, :day, :year] %>
  
  </p>
  <p>
  Phase
    <%= f.select :phase, [1, 2, 3] %>
  </p>
  <p>
    Teaching Strengths:<br>
    <%= f.text_area :body %> 
  </p>
  <p>
  Topics(Separate by space [Example: Ruby Javascript REST])<br>
    <%= f.text_field :topic_names %>
  </p>
  <p>
    <%= f.submit "Create Appointment" %>
  </p>
<% end %>
