<h1>Appointments</h1>

<h3> Available appointments </h3>
<ul>
<% @appointments.each do |appt| %>
  <% if appt.student_id == nil %>
  
    <li><%= appt.start_time.strftime('%m/%d/%y %l:%M') %> - <%= appt.end_time.strftime('%l:%M %p') %>
    <% if !(current_user.is_mentor?) %>
    | <%= link_to "View and Book it!", appointment_path(appt) %></br>
    <% else %>
    | <%= link_to "View Details", appointment_path(appt) %><br>
    <% end %>
    </li>
  <% end %>
<% end %>
</ul>

<h3>Your booked appointments</h3>
<ul>
<% @appointments.each do |appt| %>
  <% if appt.student_id != nil && (appt.student_id == current_user.id || appt.mentor_id == current_user.id) %>
    <li><%= appt.start_time.strftime('%m/%d/%y %l:%M') %> - <%= appt.end_time.strftime('%l:%M %p') %> | <%= link_to "View Details", appointment_path(appt) %></li>
  <% end %>
<% end %>
</ul>