<h3>Appointment Details</h3>

<ul>
  <li>Mentor:  <%= @mentor.full_name %></li>
  
  <% if @appointment.is_booked? %>
    <li>Student: <%= @student.full_name %></li>
  <% end %>


  <li>Time:  <%= @appointment.start_time.strftime('%m/%d/%y %l:%M') %> - <%= @appointment.end_time.strftime('%l:%M %p') %></li>
  <li>Phase:  <%= @appointment.phase %></li>
  <li>Notes:  <%= @appointment.body %></li>
  <li>Topics:  <% @appointment.topics.each do |topic| %>
  <%= topic.name %>
  <% end %></li>
</ul>

<% if !@appointment.is_booked? && !current_user.is_mentor?%>
  <%= form_for @appointment do |f| %>
    <%= f.submit "Book Me!" %>
  <% end %>
<% end %>

<hr>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <h3><%= current_user.type %></h3>
      Name: <%= current_user.full_name %><br>
      Rating: <%= review.rating %><br>
      Review: <%= review.body %>
    </li>
  <% end %>
</ul>

<% if @appointment.end_time < DateTime.now %>
  <% if (@appointment.student_id == current_user.id) && ((@appointment.reviews.where(user_id: current_user.id)) == []) %>
    <h3>Add a review!</h3>
    <%= render '/reviews/form' %>
  <% end %>

  <% if (@appointment.mentor_id == current_user.id) && ((@appointment.reviews.where(user_id: current_user.id)) == []) %>
    <h3>Add a review!</h3>
    <%= render '/reviews/form' %>
  <% end %>
<% end %>