<!DOCTYPE html>
<html>
<head>
  <title>MentorForMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="mystyle.css">
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Student Portal</h1>
<%=  render 'shared/nav' %>
<%= yield %>

</body>
</html>
